<div class="recipe_index">
  <% @recipes.each do |recipe| %>
  <div class="recipe_teaser">
    <h2><%= link_to recipe.title, recipe %></h2>
    <%= link_to recipe.description, recipe %>
  </div>
  <% end %>
</div>

<br>
<div class="add_recipe">
  <%= link_to "Add a Recipe", new_recipe_path %>
</div>

<% if @recipes.blank? %>
  <h4>No recipes found.</h4>
<% end %>
