<% @recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe %>
<% end %>
<%= link_to 'Add a Recipe', new_recipe_path %>
<% if @recipes.blank? %>
  <h4>No recipes found.</h4>
<% end %>

<!-- <% if @current_user %>
  <a href="#" />
  <%= user_avatar @current_user %>
<% end %> -->
