// @import "*";
@import './colors';
@import './show';
@import './index';

body {
  background-color: $pink;
  font-family: Arial;

  :link {
    text-decoration: none;
    color: black;
  }

  :visited {
    text-decoration: none;
    color: black;
  }
}
