.new-recipe {
  background-color: $white;
  border: 2px solid $medium-grey;
  font-family: Quattrocento;
  text-align: center;
}

.recipe-form {
  display: block;
  background-color: $light-yellow;
  border: 2px solid black;
  padding-top: 15px;
}

.edit-text-field {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  height: 60px;
}

#edit-title {
  height: 20px;
}

#avatar-upload {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 70%;
}
