.new_recipe {
  text-align: center;
  font-family: Quattrocento;
  background-color: white;
  padding: 2rem;
  padding-top: 3rem;
  margin: 1rem 3rem -1rem 3rem;
}

.recipe_form {
  margin-top: 0rem 3rem 1rem 3rem;
}
