.new-recipe {
  background-color: $white;
  font-family: Quattrocento;
  margin: 1rem 3rem -1rem;
  padding: 2rem;
  padding-top: 3rem;
  text-align: center;
}

.recipe-form {
  margin-top: 0 3rem 1rem;
}
