.recipe-body {
  background-color: $white;
  border: $black solid 2px;
  padding: 1rem;

  .creator-name {
    color: $medium-grey;
  }

  .description {
    border-bottom: 1px solid $dark-grey;
    padding-bottom: 30px;
  }

  h5 {
    color: $dark-grey;
    font-family: Quattrocento;
    font-size: 1.3rem;
  }

  .edit-delete-recipe {
    color: $medium-grey;
    font-family: Quattrocento;

  }

  .instructions {
    border-left: $light-grey solid 4px;
    float: right;
  }
}

.reviews-body {
  background-color: $light-grey;
  border: $black solid 2px;
  padding: 1rem;

  h3 {
    padding-bottom: 1rem;
  };
}

.review {
  background-color: $white;
  border: $medium-grey solid 2px;
  padding: 1rem;

  .rating {
    font-family: Quattrocento;
  }

  .name {
    font-family: Quattrocento;
  }

  .edit-delete-review {
    color: $light-grey;
    float: right;
    font-family: Quattrocento;
    font-size: 0.7rem;
  }
}

.i {
  padding: 2rem;
  background-color: $light-yellow;
}

.add-review {
  background-color: $dark-grey;
  color: $white;
  font-family: Quattrocento;
  padding: 2rem 1rem;
  text-align: center;
}

.button_to {
  display: table;
  margin: auto;
}

.voting {
  background-color: $light-yellow;
  padding: 5px;
  padding-top: 10px;
  height: 92px;
}

.vote {
  text-align: center;
}

.review-and-vote {
  padding: 10px;
  padding-left: 20px;
}
